.form-containers {
    position: absolute;
    width: 270px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    left: 0;
    top:4%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #333;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }

  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus {
    border-color: #4CAF50; /* Change border color on focus */
    outline: none; /* Remove default outline */
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Larger font size for button */
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  @media (max-width: 600px) {
    .form-containers {
        width: 50%; /* Full width on small screens */
        padding: 15px; /* Adjust padding for smaller screens */
        top:10%;
    }
    
    input[type="text"],
    input[type="number"],
    input[type="date"] {
        font-size: 16px; /* Larger font for easier tapping */
    }
    
    button[type="submit"] {
        font-size: 16px; /* Maintain larger button text */
    }
}