.containers{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(236, 230, 248, 0.7),rgba(239, 237, 250, 0.7)),url('../../src/assets/logo.CEI.JPG');
    background-position: center;
    display: flex   ;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
      .form-containers {
        width: 100%;
        position: relative;
        margin: 10px 0;
      }
  
      .table-container{
          width: 100%;
          position: relative;
          margin: 10px 0;
      }
    
      .containers {
        flex-direction: column;
        align-items: center;
      }
    
      .containers-text {
        width: 100%;
      }
    }
    